# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=parking_db

# Engine Configuration
GATE_ID=1
STREAM_PORT=5000
ENABLE_WINDOW=False
BIAYA_PER_JAM=5000

# Dashboard Integration
DASHBOARD_API_URL=http://localhost:5173/api/v1/event
DASHBOARD_CONFIG_URL=http://localhost:5173/api/v1/config
DASHBOARD_API_KEY=mata-plat-secret-api-key-2026

# App Configuration
FLASK_DEBUG=True
DEBUG_MODE=False

